*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:
"Inter",
"Microsoft YaHei",
sans-serif;
}



body{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;


background-image:
linear-gradient(
rgba(0,0,0,0.45),
rgba(0,0,0,0.45)
),
url("bg.jpg");


background-size:cover;

background-position:center;

background-attachment:fixed;


color:white;

}



.container{

width:90%;

max-width:600px;

text-align:center;


background:

rgba(255,255,255,0.08);


backdrop-filter:blur(20px);


border-radius:30px;


padding:40px;


box-shadow:
0 20px 60px rgba(0,0,0,.4);

}



h1{

font-size:42px;

margin-bottom:15px;

}



p{

opacity:.7;

margin-bottom:30px;

}



.photo-box{

width:100%;

height:450px;

overflow:hidden;


border-radius:30px;


position:relative;


background:
rgba(255,255,255,0.1);


box-shadow:

0 25px 80px rgba(0,0,0,.5);


border:

1px solid rgba(255,255,255,.2);


}



.photo-box img{

width:100%;

height:100%;


object-fit:cover;


border-radius:30px;


transition:

transform .4s ease,
opacity .4s ease;


}

.photo-box:hover img{

transform:
scale(1.05);

}

.photo-box img.show{

animation:
fade .8s;

}



button{


padding:

18px 55px;


border-radius:

999px;


border:

1px solid rgba(255,255,255,.4);


background:

rgba(255,255,255,.15);


backdrop-filter:

blur(10px);


color:white;


font-size:18px;


letter-spacing:2px;


cursor:pointer;


transition:.4s;


}


button:hover{


background:white;


color:black;


transform:

translateY(-5px);


}



@keyframes fade{


from{

opacity:0;

transform:
scale(.95);

}


to{

opacity:1;

transform:
scale(1);

}

}
